body {
    font-family: sans-serif;
    width: 100%;
  background-color: #add8e6;
    min-width: 480px;
    margin: 0 auto;
  }
   
  .atdalitajs {
    width: 100%;
    height: 3rem;
    background-color: rgb(255, 255, 255);
    border: solid rgba(185, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, .1), inset 0 0.125em 0.5em rgba(0, 0, 0, .15);
  }
   
  .a-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(255, 0, 0, 0.1);
    border: solid rgba(34, 24, 126, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, .1), inset 0 0.125em 0.5em rgba(0, 0, 0, .15);
  }
   
  .mass {
  align-items: end;
  }
   
h2 {
    color: rgb(13, 13, 113);
    font-weight: 700;
}
   
  .zatdalitajs {
  display: flex;
  justify-content: center;
  }
  .zatdalitajs .btn {
  flex-grow: 1;
  margin: 0 5px;
  }
   
  .btn {
    width: 35rem;
    background-color: rgb(33, 28, 75);
  }
   
  .batdalitajs {
    width: 100%;
    height: 3rem;
    background-color: #a5dcee;
    border-width: 1px 0;
    text-align: right;
    margin-right: 10rem;
  }

  .current-date {
    padding: 15px;
    font-size: 20px;
  }

  button {
    background-color: #c5e7f3;
    color: rgb(0, 0, 0);
  }
  
